<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><h1>
        Leis Vigentes</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header> 

<ion-content>
    <ion-list>

        <ion-item href="http://www.in.gov.br/web/dou/-/resolucao-n-1.275-de-25-de-junho-de-2019-203419719">
          <ion-icon slot="start" color="red" name="md-globe"></ion-icon>
          <ion-label>RESOLUÇÃO Nº 1.275, DE 25 DE JUNHO DE 2019</ion-label>
        </ion-item>
        <ion-item href="http://bvsms.saude.gov.br/bvs/saudelegis/anvisa/2012/res0011_16_02_2012.html">
            <ion-icon slot="start" color="red" name="md-globe"></ion-icon>
          <ion-label>RESOLUÇÃO - RDC N° 11, DE 16 DE FEVEREIRO DE 2012</ion-label>
        </ion-item>
        <ion-item href="http://portal.anvisa.gov.br/documents/33880/2568070/res0050_21_02_2002.pdf/ca7535b3-818b-4e9d-9074-37c830fd9284">
            <ion-icon slot="start" color="red" name="md-globe"></ion-icon>
          <ion-label>RESOLUÇÃO-RDC Nº 50, DE 21 DE FEVEREIRO DE 2002</ion-label>
        </ion-item>
        <ion-item href="http://portal.anvisa.gov.br/documents/10181/2718376/RDC_302_2005_COMP.pdf/7038e853-afae-4729-948b-ef6eb3931b19">
            <ion-icon slot="start" color="red" name="md-globe"></ion-icon>
          <ion-label>RESOLUÇÃO DE DIRETORIA COLEGIADA – RDC Nº 302, DE 13 DE OUTUBRO DE 2005</ion-label>
        </ion-item>
        <ion-item href="https://saude.es.gov.br/Media/sesa/NEVS/Servi%C3%A7os%20de%20sa%C3%BAde%20e%20de%20interesse/portaria453.pdf">
            <ion-icon slot="start" color="red" name="md-globe"></ion-icon>
          <ion-label>PORTARIA 453, de 01 de junho de 1998</ion-label>
        </ion-item>
      </ion-list>
</ion-content>
