<ion-header>
    <ion-toolbar>
     
        <ion-menu-button></ion-menu-button>
        <ion-buttons slot="end">
          <ion-back-button></ion-back-button>
        </ion-buttons>
     
      <ion-title><h1>
        Sócios</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header> 


<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header style="text-align: -webkit-center;">
                        <ion-avatar >
                          <img src="/assets/44683158_174612196800851_4375262963729170432_n.jpg" alt="" />
                      </ion-avatar>
                      <ion-card-title><h3>Mariana Borges</h3></ion-card-title>
                    </ion-card-header>
                    <ion-card-content style="text-align: -webkit-center;">
                    Engenheira Biomédica<p>
                    Diretoria Clinica
                    </p>
                      </ion-card-content>
                    </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-header style="text-align: -webkit-center;">
                      <ion-avatar>
                          <img src="/assets/20181127_132613-1.jpg" alt="" />
                      </ion-avatar>
                      <ion-card-title><h3>Fábio Santos</h3></ion-card-title>
                    </ion-card-header>
                    <ion-card-content style="text-align: -webkit-center;">
                    Engenheiro Civil<p>
                        Diretoria Geral
                        </p>
                      </ion-card-content>
                    </ion-card>
            </ion-col>
          </ion-row>
         </ion-grid>
         <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-header style="text-align: -webkit-center;">
                            <ion-avatar >
                              <img src="/assets/David S. S. Abu Gharbil.png" alt="" />
                          </ion-avatar>
                          <ion-card-title><h3>David Suleimean</h3></ion-card-title>
                        </ion-card-header>
                        <ion-card-content style="text-align: -webkit-center;">
                        Engenheira Elétrico<p>
                            Engenheiro Clínico - Departamento de Diagnóstico
                            </p>
                          </ion-card-content>
                        </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card>
                        <ion-card-header style="text-align: -webkit-center;">
                          <ion-avatar>
                              <img src="/assets/Diego Cabral Fonseca.jpeg" alt="" />
                          </ion-avatar>
                          <ion-card-title><h3>Diego Cabral</h3></ion-card-title>
                        </ion-card-header>
                        <ion-card-content style="text-align: -webkit-center;">
                        Engenheiro Elétrico<p>
                            Engenheiro Clínico - Departamento Imagens
                            </p>
                          </ion-card-content>
                        </ion-card>
                </ion-col>
              </ion-row>
             </ion-grid>
             <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card>
                            <ion-card-header style="text-align: -webkit-center;">
                                <ion-avatar >
                                  <img src="/assets/Giovani de Melo Berti.jpeg" alt="" />
                              </ion-avatar>
                              <ion-card-title><h3>Giovani de Melo Berti</h3></ion-card-title>
                            </ion-card-header>
                            <ion-card-content style="text-align: -webkit-center;">
                            Redes de Computadores<p>
                                Engenheiro Clínico 
                                </p>
                              </ion-card-content>
                            </ion-card>
                    </ion-col>
                    <ion-col>
                        <ion-card>
                            <ion-card-header style="text-align: -webkit-center;">
                              <ion-avatar>
                                  <img src="/assets/Graziano Aparecido Siqueira.png" alt="" />
                              </ion-avatar>
                              <ion-card-title><h3>Graziano Siqueira</h3></ion-card-title>
                            </ion-card-header>
                            <ion-card-content style="text-align: -webkit-center;">
                            Engenheiro Elerônico<p>
                                Engenheiro Clínico
                                </p>
                              </ion-card-content>
                            </ion-card>
                    </ion-col>
                  </ion-row>
                 </ion-grid>
                 <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-card>
                                <ion-card-header style="text-align: -webkit-center;">
                                    <ion-avatar >
                                      <img src="/assets/WhatsApp Image 2020-02-12 at 13.20.48.jpeg" alt="" />
                                  </ion-avatar>
                                  <ion-card-title><h3>Marcelo Henrique Rubio</h3></ion-card-title>
                                </ion-card-header>
                                <ion-card-content style="text-align: -webkit-center;">
                                Engenheiro de Produção<p>
                                    Diretoria Comercial
                                    </p>
                                  </ion-card-content>
                                </ion-card>
                        </ion-col>
                        <ion-col>
                            <ion-card>
                                <ion-card-header style="text-align: -webkit-center;">
                                  <ion-avatar>
                                      <img src="/assets/Rodrigo Z. T. Portella Furini.jpeg" alt="" />
                                  </ion-avatar>
                                  <ion-card-title><h3>Rodrigo Z.Portella</h3></ion-card-title>
                                </ion-card-header>
                                <ion-card-content style="text-align: -webkit-center;">
                                Arquiteto e Urbanista<p>
                                    Diretoria Técnica
                                    </p>
                                  </ion-card-content>
                                </ion-card>
                        </ion-col>
                      </ion-row>
                     </ion-grid>
</ion-content>
