<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
              </ion-menu-button>
          </ion-buttons>
      <ion-title><h1>
        Serviços Prestados</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header> 

    <ion-content>
        <ion-card>
        <ion-card-header>
          <ion-card-title>Serviço de Engenharia Clínica</ion-card-title>
        </ion-card-header>
        <ion-card-content style= "text-align: justify">

            <ion-list lines="none">
                <ion-list-header>
                </ion-list-header>
                <ion-item>
                    <ion-icon slot="start" color="red" name="ios-build"></ion-icon>
                    <ion-label>Gestão de Manutenções Preventivas </ion-label>
                </ion-item>
              </ion-list>

              <ion-list lines="none">
                  <ion-list-header>
                  </ion-list-header>
                  <ion-item>
                      <ion-icon slot="start" color="red" name="logo-usd"></ion-icon>
                      <ion-label>Seleção e Aquisição de Equipamentos</ion-label>
                  </ion-item>
                </ion-list>
  
                <ion-list lines="none">
                    <ion-list-header>
                    </ion-list-header>
                    <ion-item>
                        <ion-icon slot="start" color="red" name="ios-checkbox"></ion-icon>
                        <ion-label>Aceitação, instalação e treinamentos </ion-label>
                    </ion-item>
                  </ion-list>
            
                  <ion-list lines="none">
                      <ion-list-header>
                      </ion-list-header>
                      <ion-item>
                          <ion-icon slot="start" color="red" name="ios-call"></ion-icon>
                          <ion-label>Gestão de alertas e Recall</ion-label>
                      </ion-item>
                    </ion-list>
              
                    <ion-list lines="none">
                        <ion-list-header>
                        </ion-list-header>
                        <ion-item>
                            <ion-icon slot="start" color="red" name="ios-calendar"></ion-icon>
                            <ion-label>Assessoria End Life</ion-label>
                        </ion-item>
                      </ion-list>
         
          </ion-card-content>
        </ion-card>


        <ion-card>
            <ion-card-header>
              <ion-card-title>Serviço de Projetos e Obras</ion-card-title>
            </ion-card-header>
            <ion-card-content style= "text-align: justify">

              </ion-card-content>
            </ion-card>
</ion-content>
