<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><h1>
        Sobre IMALAB VET </h1>
      </ion-title>
    </ion-toolbar>
  </ion-header> 

<ion-content>
    <ion-card>
    <ion-card-header>
      <ion-card-title>Missão</ion-card-title>
    </ion-card-header>
    <img src="/assets/paper-3309829_1280.jpg" alt="" />
    <ion-card-content style= "text-align: justify">
      Projetar, construir e adequar edificações hospitalares veterinários com foco em
      centro de imagens e laboratoriais, com comprometimento dos princípios
      indispensáveis de funcionalidade, solidez, estética e humanização.
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
          <ion-card-title>Visão</ion-card-title>
          <img src="/assets/entrepreneur-1340649_1280.jpg" alt="" />
        </ion-card-header>
        <ion-card-content style= "text-align: justify">
            Visamos o reconhecimento nos centros médico-hospitalares veterinários como
            referência nacional no atendimento técnico e executivo dos centros de imagem e
            laboratoriais.
          </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
              <ion-card-title>Valores</ion-card-title>
            </ion-card-header>
            <ion-card-content style= "text-align: justify">
                Nossos valores são: competência, confiança, respeito, flexibilidade,
                transparência e honestidade.
              </ion-card-content>
            </ion-card>
</ion-content>
